@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8FFF8;
    font-family: "Inter", sans-serif;
}

a {
    color: #255200;
}

.content {
    max-width: 72rem;
    padding: 3rem 0;
    margin: 0 auto 6rem;

}

.header {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 48px;

}

.header__title {
    font-size: 48px;
    line-height: 120%;
    font-family: "Abril Fatface", serif;
}

.header__title>span {
    color: #041004;
}

.hero {
    max-width: 100%;
    display: flex;
    /* margin-bottom: 4rem; */
}

.hero__about {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-right: 80px;
}

.hero__sociais {
    display: flex;
    gap: 32px;
}

.hero__sociais>svg {
    fill: #255200;
}

.hero__sociais>svg:hover {
    fill: #162e03;
}

.hero__perfil {
    min-width: 360px;
    min-height: 537px;
    border: solid 5px #FDDAC5;
}

.footer {
    background-color: bisque;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    padding: 3rem;
    /* margin: 0 auto 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}